<!DOCTYPE html>
<html>
<head>
  <title>Edit Meeting</title>
</head>
<body>
  <h1>Edit Meeting</h1>
  <form id="editForm" action="{{ url_for('meeting_view.update', id=meeting.id) }}">
  </form>
    <label for="type_id">Type ID:</label><br>
    <input type="text" id="type_id" name="type_id" value="{{ meeting.type_id }}"><br>
    <input type="submit" value="Submit">
  </form>
  <script>
    document.getElementById('editForm').addEventListener('submit', function(event) {
      event.preventDefault();
      let url = event.target.action;
      let data = new FormData(event.target);
      fetch(url, {
        method: 'PUT', // or 'PATCH'
        body: data
      })
      .then(response => response.json())
      .then(data => {
        if (data.message) {
          alert(data.message);
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });
    </script>
</body>
</html>
