<!DOCTYPE html>
<html>
<head>  
  <title>Stakeholders Engagement Insights</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boosted/dist/css/boosted.min.css">
  <style>
    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
      margin: 0;
    }
    .content {
      flex-grow: 1;
    }
    .footer {
      margin-top: auto;
       
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/boosted/dist/js/boosted.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boosted/dist/css/boosted.min.css">
  <style>
      .boosted-orange {
        color: #FF7900;
      }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='assets/orange.svg') }}" width="50" height="50" alt="Home" loading="lazy">
        <span class="ms-2 boosted-orange">Meeting Insights</span>
        <span class="ms-2">Home</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse align-items-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownButton" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Meeting
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" id="dropdownMeeting" data-label="Meeting" href="#">Meeting</a></li>
                    <li><a class="dropdown-item" id="dropdownMeetingType" data-label="Meeting type" href="#">Meeting type</a></li>
                    <li><a class="dropdown-item" id="dropdownRole" data-label="Role" href="#">Role</a></li>
                    <li><a class="dropdown-item" id="dropdownPerson" data-label="Person" href="#">Person</a></li>
                    <li><a class="dropdown-item" id="dropdownInvitation" data-label="Invitation" href="#">Invitation</a></li>
                </ul>
            </li>
        </ul>
    </div>    
    </div>
  </nav> 
  <div class="container my-4">
    <h2 class="boosted-orange">Upcoming Meetings</h2>
    <table class="table">
      <caption class="visually-hidden">Upcoming Meetings</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Meeting Title</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Location</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for meeting in meetings %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ meeting.type_id }}</td>
          <td>{{ meeting.start_date }}</td>
          <td>{{ meeting.start_time }}</td>
          <td>{{ meeting.location }}</td>
          <td>
            <a href="{{ url_for('meeting_view.edit', id=meeting.id) }}" class="btn btn-primary">Edit</a>
            <a href="{{ url_for('meeting_view.delete', id=meeting.id) }}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>    
  </div>
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
      <a class="page-link" href="{{ url_for('meeting_view.index', page=pagination.prev_num) if pagination.has_prev }}">Previous</a>
    </li>
    {% for page_num in range(1, pagination.pages + 1) %}
    <li class="page-item {% if page_num == pagination.page %}active{% endif %}" aria-current="page">
        <a class="page-link" href="{{ url_for('meeting_view.index', page=page_num) }}">{{ page_num }}</a>
    </li>
    {% endfor %}
    <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
      <a class="page-link" href="{{ url_for('meeting_view.index', page=pagination.next_num) if pagination.has_next }}">Next</a>
    </li>
  </ul>
</nav>
  <footer class="footer bg-dark navbar-dark">
    <h2 class="visually-hidden">Sitemap & information</h2>
    <div class="container-xxl footer-terms">
      <ul class="navbar-nav gap-md-3">
        <li class="fw-bold">© Orange 2023</li>
      </ul>
    </div>
  </footer> 
</body>
</html>
